<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <link rel="stylesheet" href="/main.css">

  <title>Mieh Yiem Longx Nyei Fai?</title>
</head>
<hr>
<body>
  <h1 href="/blog" class="main-title">
      Mien Word of the Month!
  </h1>
<hr>
  <div style="align-content: flex-end" class="logout"><a href="/logout">logout</a></div>
  <br>
  <br>

    <form method="post">
      <label>
        <div>Comment Title</div>
        <input type="text" name="commenttitle" value="{{com_post.comment_title}}">
      </label>
        <br>
        <br>
      <label>
        <div>Comment</div>
        <textarea name="commentdescription">{{com_post.comment_description}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
  <br>
  <br>
  <br>
  <a href="/edit/{{com_post.key().id()}}/delete">Delete Comment</a>
    <a href="/blog">Cancel</a>
  <br>
  <br>
</form>

<form method="post">
    <div>Like this post!</div>
        <input type="submit" value="Like">
         <div class="mess">{{mess}}</div>
</form>
</body>
</html>