<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <link rel="stylesheet" href="/main.css">

  <title>Mieh Yiem Longx Nyei Fai?</title>
</head>
<hr>
<body>
  <h1 href="/blog" class="main-title">
      Mien Word of the Month!
  </h1>
<hr>
  <div style="align-content: flex-end" class="logout"><a href="/logout">logout</a></div>
  <br>
  <br>

    <form method="post">
      <label>
        <div>Subject</div>
        <input type="text" name="subject" value="{{post.subject}}">
      </label>
      <br>
      <br>
      <label>
        <div>Blog</div>
        <textarea name="content">{{post.content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
  <br>
  <br>
  <br>
    <a href="/blog">Cancel</a>
</body>
</html>
<!--{% extends "base.html" %}-->