<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="/home/hackit/PycharmProjects/BlogSpot/main.css">
<style>
    h1 {
    text-align: center;
    color: darkorange;
}
</style>
  <title>Mieh Yiem Longx Nyei Fai?</title>
</head>

<body>
  <h1 href="/blog" class="main-title">
      Mien Word of the Month!
  </h1>
<br>
<br>
  <div style="align-content: flex-end" class="logout"><a href="/logout">logout</a></div>
<br>
<hr>

  <div id="content"><a href="/blog/EditPost/{{post.key().id()}}">Edit this post</a>
{% block content %}
  {{post.render() | safe}}
{% endblock %}
  </div>
<a href="/{{post.key().id()}}/comments">Comment on this post</a>

{% for comments in post.comment_post %}
<a href="/edit/{{comments.key().id()}}">Edit this post</a>
<p>{{comments.comment_title}}</p>
<p>{{comments.comment_description}}</p>
{%endfor%}
</body>


</html>

