<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="/main.css">

  <title>Mieh Yiem Longx Nyei Fai?</title>
</head>

<body>
  <h1 href="/blog" class="main-title">
      Mien Word of the Month!
  </h1>
<br>
<br>
  <div style="align-content: flex-end" class="logout"><a href="/logout">logout</a></div>
<br>
<hr>

  <div id="content"><a href="/blog/EditPost/{{post.key().id()}}">Edit this post</a>
      <a href="/deletepost/{{post.key().id()}}">Delete this post</a>

      <form method="post">
      <label>
        <div>Likes on this post</div>
        <div name="likes">{{post.likes}}</div>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit" value="Like">
</form>
{% block content %}
  {{post.render() | safe}}
{% endblock %}
  </div>
<br>
<br>

<a href="/{{post.key().id()}}/comments">Comment on this post</a>
{% for comments in post.comment_post %}
<p>{{comments.comment_title}}</p>
<p>{{comments.comment_description}}</p>
<a href="/edit/{{comments.key().id()}}">Edit this post</a>
<p>Likes: {{comments.likes}}</p>
</form>
{%endfor%}
</body>



</html>

